<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RunAICoach.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>RunAICoachWatch Watch App.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2A91D6342DC5869400B9EC36</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2A91D6442DC5869D00B9EC36</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2A91D64E2DC5869D00B9EC36</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2A91D6652DC5884400B9EC36</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2A91D6742DC5884B00B9EC36</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2A91D67E2DC5884B00B9EC36</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
